<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" style="font-weight: bold;" href="#">GyanPariksha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            
            <li class="nav-item">
              <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
              
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form> -->
          <!-- Example single danger button -->
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success btn-large"><i class="glyphicon glyphicon-earphone"></i> Call us</button>
          </form> -->
          <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOGIN
              </button>
              <div class="dropdown-menu dropdown-menu-noPadding">
                <a class="dropdown-item google-btn" href="#" (click)="login('google')">Google</a>
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item facebook-btn"  href="#" (click)="login('facebook')">Facebook</a>
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item twitter-btn" href="#" (click)="login('twitter')">Twitter</a>
              </div>
            </div>
        </div>
      </nav>
</header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

